In [2]:
import os
import boto3
import pandas as pd
import csv, glob, os
from IPython.display import display
from io import BytesIO
import matplotlib.pyplot as plt
from pathlib import Path
import json
import seaborn as sns

# **Proyecto Final - Pasant√≠a de Ingenier√≠a de Datos**

Para generar las credenciales ejecuto este comando en terminal:

In [ ]:
# aws sts get-session-token --duration-seconds 14400 --output json | Out-File -FilePath "$env:USERPROFILE\aws-temp-creds.json" -Encoding utf8

In [2]:
# credenciales
path = Path.home() / "aws-temp-creds.json"

with open(path, "r", encoding="utf-8-sig") as f:
    creds = json.load(f)["Credentials"]

os.environ["AWS_ACCESS_KEY_ID"] = creds["AccessKeyId"]
os.environ["AWS_SECRET_ACCESS_KEY"] = creds["SecretAccessKey"]
os.environ["AWS_SESSION_TOKEN"] = creds["SessionToken"]
os.environ["AWS_DEFAULT_REGION"] = "us-east-1"

sts = boto3.client("sts")
print(sts.get_caller_identity())

{'UserId': 'AIDAVNFKRAMYBQN25WWQO', 'Account': '371872301872', 'Arn': 'arn:aws:iam::371872301872:user/ezequiel.coggiola', 'ResponseMetadata': {'RequestId': 'f50d7f03-b0ea-4a2f-b8af-060752216009', 'HTTPStatusCode': 200, 'HTTPHeaders': {'x-amzn-requestid': 'f50d7f03-b0ea-4a2f-b8af-060752216009', 'x-amz-sts-extended-request-id': 'MTp1cy1lYXN0LTE6UzoxNzYzNjQ2NDc2MzM0OlI6VndGUExzZFk=', 'content-type': 'text/xml', 'content-length': '414', 'date': 'Thu, 20 Nov 2025 13:47:56 GMT'}, 'RetryAttempts': 0}}

In [5]:
# conexi√≥n a s3

region = os.environ.get("AWS_REGION", "us-east-1")
dataset_name = "ecommerce"
bucket_name = f"{dataset_name}-ezequiel-2025"
folders = ["raw/", "processed/", "curated/"]

boto_sess = boto3.Session(region_name=region)

s3 = boto_sess.client("s3")

In [5]:
# 1. Crear el bucket (en us-east-1 no se usa LocationConstraint)
s3.create_bucket(Bucket=bucket_name)
print(f"‚úÖ Bucket '{bucket_name}' creado en {region}")

# 2. Activar versioning
s3.put_bucket_versioning(
    Bucket=bucket_name,
    VersioningConfiguration={"Status": "Enabled"}
)

# 3. Configurar default encryption (SSE-S3)
s3.put_bucket_encryption(
    Bucket=bucket_name,
    ServerSideEncryptionConfiguration={
        "Rules": [
            {
                "ApplyServerSideEncryptionByDefault": {
                    "SSEAlgorithm": "AES256"  # SSE-S3
                }
            }
        ]
    }
)

# 4. Block Public Access
s3.put_public_access_block(
    Bucket=bucket_name,
    PublicAccessBlockConfiguration={
        "BlockPublicAcls": True,
        "IgnorePublicAcls": True,
        "BlockPublicPolicy": True,
        "RestrictPublicBuckets": True
    }
)

# 5. Agregar tags al bucket
s3.put_bucket_tagging(
    Bucket=bucket_name,
    Tagging={
        "TagSet": [
            {"Key": "owner", "Value": "Ezequiel Coggiola"},
            {"Key": "team", "Value": "Datera"},
            {"Key": "env", "Value": "dev"},
            {"Key": "dataset", "Value": dataset_name}
        ]
    }
)

# 6. Crear la estructura de "carpetas" (raw/, processed/, curated/)
for folder in folders:
    s3.put_object(Bucket=bucket_name, Key=folder)
    print(f"   - Creada estructura: {folder}")

‚úÖ Bucket 'ecommerce-ezequiel-2025' creado en us-east-1
   - Creada estructura: raw/
   - Creada estructura: processed/
   - Creada estructura: curated/

In [9]:
import os
import boto3

s3 = boto3.client("s3")
dataset_name = "ecommerce_ezequiel"   # o pasalo como par√°metro

def upload_files(local_folder, bucket_name, layer="raw", file_types=None):
    """
    Sube archivos a S3 creando autom√°ticamente una carpeta por dataset.
    Ejemplo:
        raw/customers/customers.csv
        raw/orders/orders.csv
    """
    if file_types is None:
        file_types = ["csv", "parquet"]

    print(f"üìÇ Procesando carga para capa: '{layer}'...")

    for filename in os.listdir(local_folder):

        local_path = os.path.join(local_folder, filename)

        # Validaci√≥n: que sea archivo y que tenga extensi√≥n v√°lida
        if not os.path.isfile(local_path):
            continue
            
        ext = filename.split(".")[-1].lower()
        
        if ext in file_types:
            # Nombre del dataset = filename sin extensi√≥n
            dataset_folder = filename.split(".")[0]

            # S3 path: raw/customers/customers.csv
            s3_key = f"{layer}/{dataset_folder}/{filename}"

            # Tags
            tags = (
                f"layer={layer}&owner=Ezequiel Coggiola&team=Datera"
                f"&env=dev&dataset={dataset_name}"
            )

            try:
                s3.upload_file(
                    local_path,
                    bucket_name,
                    s3_key,
                    ExtraArgs={"Tagging": tags}
                )
                print(f"   ‚úÖ Subido: {filename} -> {s3_key}")
            except Exception as e:
                print(f"   ‚ùå Error subiendo {filename}: {str(e)}")

# Ejemplo de uso:
# upload_files("./mis_datos", bucket_name, layer="raw")

In [ ]:
# Ejecutar

local_folder = "./ecommerce/s3"

upload_files(local_folder, bucket_name, layer="raw", file_types="csv")

response = s3.list_objects_v2(Bucket=bucket_name, Prefix="raw/2025/")
for obj in response.get("Contents", []):
    print(obj["Key"])

üìÇ Procesando carga para capa: 'raw'...
   ‚úÖ Subido: customers.csv -> raw/customers/customers.csv
   ‚úÖ Subido: events.csv -> raw/events/events.csv
   ‚úÖ Subido: orders.csv -> raw/orders/orders.csv
   ‚úÖ Subido: order_items.csv -> raw/order_items/order_items.csv
   ‚úÖ Subido: products.csv -> raw/products/products.csv
   ‚úÖ Subido: reviews.csv -> raw/reviews/reviews.csv
   ‚úÖ Subido: sessions.csv -> raw/sessions/sessions.csv

:

**Correr en terminal para ejecutar .sql en RDS:**

    -- password: benji1234

    -- Me conecto a la instancia, y ejecuto el archivo

    mysql --local-infile=1 -h "ENDPOINT" -u admin -p < /home/ezecoggiola/proyectos/rds/load_files_rds.sql

In [4]:
# --- Cargar datasets ---
orders = pd.read_csv("./ecommerce/s3/orders.csv")
order_items = pd.read_csv("./ecommerce/s3/order_items.csv")
products = pd.read_csv("./ecommerce/s3/products.csv")
reviews = pd.read_csv("./ecommerce/s3/reviews.csv")
sessions = pd.read_csv("./ecommerce/s3/sessions.csv")
customers = pd.read_csv("./ecommerce/s3/customers.csv")
events = pd.read_csv("./ecommerce/s3/events.csv")

dfs = {
    "orders": orders,
    "order_items": order_items,
    "products": products,
    "reviews": reviews,
    "sessions": sessions,
    "customers": customers,
    "events": events
}

# --- Funci√≥n r√°pida de EDA ---
def quick_eda(name, df):
    print(f"\n================= {name.upper()} =================")
    print("Shape:", df.shape)
    print("\nColumnas:", df.columns.tolist())
    print("\nTipos de datos:\n", df.dtypes)
    print("\nValores nulos:\n", df.isna().sum())
    print("\nEstad√≠sticas num√©ricas:\n", df.describe())
    
    # Distribuci√≥n de valores categ√≥ricos (si hay)
    cat_cols = df.select_dtypes(include=["object"]).columns
    if len(cat_cols) > 0:
        print("\n--- Distribuci√≥n de columnas categ√≥ricas ---")
        for col in cat_cols:
            print(f"\nValor por categor√≠a: {col}")
            print(df[col].value_counts().head())

# --- Ejecutar EDA para todos los CSV ---
for name, df in dfs.items():
    quick_eda(name, df)

# --------- Visualizaciones r√°pidas ---------

# sns.set(style="whitegrid")

# # ‚óè Distribuci√≥n de valores num√©ricos por dataset
# for name, df in dfs.items():
#     num_cols = df.select_dtypes(include="number").columns
#     if len(num_cols) == 0:
#         continue
#     df[num_cols].hist(figsize=(12, 6))
#     plt.suptitle(f"Distribuci√≥n de variables num√©ricas - {name}")
#     plt.show()

# # ‚óè Heatmap de correlaciones (solo si hay datos num√©ricos)
# for name, df in dfs.items():
#     num_cols = df.select_dtypes(include="number")
#     if num_cols.shape[1] < 2:
#         continue
#     plt.figure(figsize=(8,6))
#     sns.heatmap(num_cols.corr(), annot=True, cmap="coolwarm")
#     plt.title(f"Correlaciones num√©ricas - {name}")
#     plt.show()

================= ORDERS =================
Shape: (33580, 10)

Columnas: ['order_id', 'customer_id', 'order_time', 'payment_method', 'discount_pct', 'subtotal_usd', 'total_usd', 'country', 'device', 'source']

Tipos de datos:
 order_id            int64
customer_id         int64
order_time         object
payment_method     object
discount_pct        int64
subtotal_usd      float64
total_usd         float64
country            object
device             object
source             object
dtype: object

Valores nulos:
 order_id          0
customer_id       0
order_time        0
payment_method    0
discount_pct      0
subtotal_usd      0
total_usd         0
country           0
device            0
source            0
dtype: int64

Estad√≠sticas num√©ricas:
            order_id   customer_id  discount_pct  subtotal_usd     total_usd
count  33580.000000  33580.000000  33580.000000  33580.000000  33580.000000
mean   16790.500000  10010.629899      7.160214    144.002627    133.806357
std     9693.855356   5798.458913      7.474901    162.603585    152.130611
min        1.000000      1.000000      0.000000      3.500000      2.800000
25%     8395.750000   4964.000000      0.000000     44.060000     40.300000
50%    16790.500000  10008.000000      5.000000     93.620000     86.460000
75%    25185.250000  15061.000000     15.000000    187.100000    174.270000
max    33580.000000  19999.000000     20.000000   3141.660000   2984.580000

--- Distribuci√≥n de columnas categ√≥ricas ---

Valor por categor√≠a: order_time
order_time
2023-09-28T14:54:47    2
2022-03-27T10:18:00    2
2024-12-04T20:24:13    1
2024-07-17T08:50:47    1
2020-08-21T16:54:16    1
Name: count, dtype: int64

Valor por categor√≠a: payment_method
payment_method
card      23455
paypal     5032
wallet     3373
cod        1720
Name: count, dtype: int64

Valor por categor√≠a: country
country
US    6138
GB    2653
IN    2642
BR    2464
DE    2321
Name: count, dtype: int64

Valor por categor√≠a: device
device
mobile     18469
desktop    12750
tablet      2361
Name: count, dtype: int64

Valor por categor√≠a: source
source
organic    11268
direct      8387
paid        4121
social      4024
email       3056
Name: count, dtype: int64

================= ORDER_ITEMS =================
Shape: (59163, 5)

Columnas: ['order_id', 'product_id', 'unit_price_usd', 'quantity', 'line_total_usd']

Tipos de datos:
 order_id            int64
product_id          int64
unit_price_usd    float64
quantity            int64
line_total_usd    float64
dtype: object

Valores nulos:
 order_id          0
product_id        0
unit_price_usd    0
quantity          0
line_total_usd    0
dtype: int64

Estad√≠sticas num√©ricas:
            order_id    product_id  unit_price_usd      quantity  \
count  59163.000000  59163.000000    59163.000000  59163.000000
mean   16811.777868    692.100147       62.837561      1.303281
std     9687.818391    329.197199       62.061297      0.786787
min        1.000000      1.000000        3.500000      1.000000
25%     8454.000000    411.000000       21.640000      1.000000
50%    16838.000000    738.000000       44.650000      1.000000
75%    25203.000000    980.000000       79.450000      1.000000
max    33580.000000   1197.000000      596.620000      4.000000

       line_total_usd
count    59163.000000
mean        81.733655
std        106.360939
min          3.500000
25%         24.770000
50%         49.920000
75%         98.680000
max       2376.920000

================= PRODUCTS =================
Shape: (1197, 6)

Columnas: ['product_id', 'category', 'name', 'price_usd', 'cost_usd', 'margin_usd']

Tipos de datos:
 product_id      int64
category       object
name           object
price_usd     float64
cost_usd      float64
margin_usd    float64
dtype: object

Valores nulos:
 product_id    0
category      0
name          0
price_usd     0
cost_usd      0
margin_usd    0
dtype: int64

Estad√≠sticas num√©ricas:
         product_id    price_usd     cost_usd   margin_usd
count  1197.000000  1197.000000  1197.000000  1197.000000
mean    599.000000   119.935171    77.626483    42.308688
std     345.688444   119.681742    79.228858    44.464057
min       1.000000     3.500000     2.210000     1.030000
25%     300.000000    38.540000    23.530000    12.240000
50%     599.000000    77.200000    49.140000    27.020000
75%     898.000000   165.420000   103.670000    55.440000
max    1197.000000   596.620000   446.100000   263.730000

--- Distribuci√≥n de columnas categ√≥ricas ---

Valor por categor√≠a: category
category
Electronics       171
Home & Kitchen    171
Beauty            171
Sports            171
Fashion           171
Name: count, dtype: int64

Valor por categor√≠a: name
name
SSD MediumBlue 149          1
Keyboard DeepPink 696       1
Headphones Orchid 188       1
Smartwatch BurlyWood 664    1
Smartwatch Cornsilk 328     1
Name: count, dtype: int64

================= REVIEWS =================
Shape: (10780, 6)

Columnas: ['review_id', 'order_id', 'product_id', 'rating', 'review_text', 'review_time']

Tipos de datos:
 review_id       int64
order_id        int64
product_id      int64
rating          int64
review_text    object
review_time    object
dtype: object

Valores nulos:
 review_id      0
order_id       0
product_id     0
rating         0
review_text    0
review_time    0
dtype: int64

Estad√≠sticas num√©ricas:
           review_id      order_id    product_id        rating
count  10780.000000  10780.000000  10780.000000  10780.000000
mean    5390.500000  16895.209276    683.212245      3.934323
std     3112.062285   9789.272873    330.680553      1.090722
min        1.000000      4.000000      1.000000      1.000000
25%     2695.750000   8338.000000    402.000000      3.000000
50%     5390.500000  17079.000000    725.000000      4.000000
75%     8085.250000  25476.000000    973.000000      5.000000
max    10780.000000  33575.000000   1197.000000      5.000000

--- Distribuci√≥n de columnas categ√≥ricas ---

Valor por categor√≠a: review_text
review_text
Excellent product, highly recommend!       4055
Good value for money!                      3565
Okay overall.                              1980
Not great quality.                          757
Very disappointed, would not buy again.     423
Name: count, dtype: int64

Valor por categor√≠a: review_time
review_time
2021-09-09T00:00:00    14
2020-01-25T00:00:00    13
2025-02-20T00:00:00    12
2020-09-25T00:00:00    12
2023-07-24T00:00:00    12
Name: count, dtype: int64

================= SESSIONS =================
Shape: (120000, 6)

Columnas: ['session_id', 'customer_id', 'start_time', 'device', 'source', 'country']

Tipos de datos:
 session_id      int64
customer_id     int64
start_time     object
device         object
source         object
country        object
dtype: object

Valores nulos:
 session_id     0
customer_id    0
start_time     0
device         0
source         0
country        0
dtype: int64

Estad√≠sticas num√©ricas:
           session_id    customer_id
count  120000.000000  120000.000000
mean    60000.500000   10020.814533
std     34641.160489    5790.838535
min         1.000000       1.000000
25%     30000.750000    5003.000000
50%     60000.500000   10023.000000
75%     90000.250000   15052.000000
max    120000.000000   20000.000000

--- Distribuci√≥n de columnas categ√≥ricas ---

Valor por categor√≠a: start_time
start_time
2023-05-07T20:08:00    2
2024-10-30T21:04:50    2
2024-08-22T09:45:41    2
2022-10-08T14:24:10    2
2020-04-03T04:37:57    2
Name: count, dtype: int64

Valor por categor√≠a: device
device
mobile     65942
desktop    45547
tablet      8511
Name: count, dtype: int64

Valor por categor√≠a: source
source
organic    40776
direct     29861
paid       14465
social     14389
email      10949
Name: count, dtype: int64

Valor por categor√≠a: country
country
US    21913
IN     9567
GB     9451
BR     8573
DE     8332
Name: count, dtype: int64

================= CUSTOMERS =================
Shape: (20000, 7)

Columnas: ['customer_id', 'name', 'email', 'country', 'age', 'signup_date', 'marketing_opt_in']

Tipos de datos:
 customer_id          int64
name                object
email               object
country             object
age                  int64
signup_date         object
marketing_opt_in      bool
dtype: object

Valores nulos:
 customer_id         0
name                0
email               0
country             0
age                 0
signup_date         0
marketing_opt_in    0
dtype: int64

Estad√≠sticas num√©ricas:
         customer_id           age
count  20000.000000  20000.000000
mean   10000.500000     46.492550
std     5773.647028     16.767961
min        1.000000     18.000000
25%     5000.750000     32.000000
50%    10000.500000     46.500000
75%    15000.250000     61.000000
max    20000.000000     75.000000

--- Distribuci√≥n de columnas categ√≥ricas ---

Valor por categor√≠a: name
name
Michael Brown    9
John Smith       9
James Smith      8
David Smith      8
Michael Smith    8
Name: count, dtype: int64

Valor por categor√≠a: email
email
nicholas59@example.org        1
christinarubio@example.com    1
jessica03@example.org         1
paula27@example.org           1
kevin85@example.net           1
Name: count, dtype: int64

Valor por categor√≠a: country
country
US    3648
IN    1589
GB    1585
BR    1421
DE    1397
Name: count, dtype: int64

Valor por categor√≠a: signup_date
signup_date
2024-07-19    21
2021-07-20    21
2022-07-31    20
2025-03-05    19
2023-07-18    19
Name: count, dtype: int64

================= EVENTS =================
Shape: (760958, 10)

Columnas: ['event_id', 'session_id', 'timestamp', 'event_type', 'product_id', 'qty', 'cart_size', 'payment', 'discount_pct', 'amount_usd']

Tipos de datos:
 event_id          int64
session_id        int64
timestamp        object
event_type       object
product_id      float64
qty             float64
cart_size       float64
payment          object
discount_pct    float64
amount_usd      float64
dtype: object

Valores nulos:
 event_id             0
session_id           0
timestamp            0
event_type           0
product_id       78489
qty             617832
cart_size       716049
payment         727378
discount_pct    727378
amount_usd      727378
dtype: int64

Estad√≠sticas num√©ricas:
             event_id     session_id     product_id            qty  \
count  760958.000000  760958.000000  682469.000000  143126.000000
mean   380479.500000   60153.502012     652.313074       1.301748
std    219669.797409   34613.117088     340.279129       0.783436
min         1.000000       1.000000       1.000000       1.000000
25%    190240.250000   30314.250000     368.000000       1.000000
50%    380479.500000   60176.000000     674.000000       1.000000
75%    570718.750000   90110.000000     954.000000       1.000000
max    760958.000000  120000.000000    1197.000000       4.000000

          cart_size  discount_pct    amount_usd
count  44909.000000  33580.000000  33580.000000
mean       2.286958      7.160214    133.806357
std        1.612397      7.474901    152.130611
min        1.000000      0.000000      2.800000
25%        1.000000      0.000000     40.300000
50%        2.000000      5.000000     86.460000
75%        3.000000     15.000000    174.270000
max       13.000000     20.000000   2984.580000

--- Distribuci√≥n de columnas categ√≥ricas ---

Valor por categor√≠a: timestamp
timestamp
2022-08-20T14:22:22    3
2020-06-05T00:44:54    3
2024-12-27T16:17:33    3
2022-04-05T15:38:11    2
2025-05-10T07:04:39    2
Name: count, dtype: int64

Valor por categor√≠a: event_type
event_type
page_view      539343
add_to_cart    143126
checkout        44909
purchase        33580
Name: count, dtype: int64

Valor por categor√≠a: payment
payment
card      23455
paypal     5032
wallet     3373
cod        1720
Name: count, dtype: int64